/* feature */
.feature__list {
  @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

    @media screen and (min-width:1200px) {
      flex-wrap: nowrap;
    }
}

.feature__item {
  &:not(:last-child) {
  margin-bottom: 30px;
  }

  @media screen and (min-width:768px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width:1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);

    &:not(:last-child) {
        margin-bottom: 0;
    }
  }
}

/* h3 оформление-1 */
.feature__title {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (min-width:768px) {
    align-items: inherit;
  }
}

/* p - оформление-1 */
.feature__text {
  font-size: 14px;
  line-height: 1.71;
}


.feature__icon-thumb {
  padding: 25px 190px 25px 190px;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;



  @media screen and (min-width:768px) {
    display: flex;

    padding: 25px 142px 25px 142px;
    margin-bottom: 30px;

    width: 354px;
    height: 120px;

    align-items: center;
    background-color: #f5f4fa;
    border-radius: 4px;
  }

  @media screen and (min-width:1200px) {
    width: 270px;
    padding: 25px 100px 25px 100px;
  }
}




