.menu-container {
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  // display: none;
    // position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    // top: -16px;

    width: 100%;
    height: 100vh;

    // width: 100%;
    // height: 796px;

    // width: 480px;

    padding: 48px 83px 48px 40px;

    background-color: var(--primary-bg-color);

    text-align: center;

    z-index: 1;

  @media screen and (max-width: 767px) {


    &.is-open {
      // display: block;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      transform: translateX(0);
    }
  }

  @media screen and (min-width:768px) {
    display: flex;
    align-items: center;
  }
}

.menu-container__nav {
  margin-bottom: 302px;
}






// contact-mobile
// .contact-mobile {
//   display: flex;
//   flex-direction: column-reverse;
//   margin-bottom: 64px;
// }

// .contact-mobile__item {
//   @media screen and (max-width:767px) {
//     &:last-child {
//       margin-bottom: 32px;
//     }
//   }
// }

// .contact-mobile__link {
//   display: flex;
//   align-items: center;

//   // padding-top: 21px;
//   // padding-bottom: 21px;

//   color: var(--primary-text-color);
//   font-weight: 500;
//   font-size: 34px;
//   line-height: 1.18;
//   letter-spacing: 0.02em;
//   text-decoration: none;

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* задается цвет подсвечивания ссылки при наведении курсором */
  // &:hover,
  // &:focus {
  //   color: var(--accent-color);
  // }
//
// .contact-mobile>.contact-mobile__item:first-child>& {
//     font-size: 24px;
//     line-height: 1.17;
//     }
// }

// .contact-mobile__link-mail {
//   font-size: 24px;
//   line-height: 1.17;
// }

// .contact-mobile > .contact-mobile__item:first-child > .contact-mobile__link {
//   font-size: 24px;
//   line-height: 1.17;
// }



// menu-toggle
.menu-toggle {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;


  // min-height: 40px;
  // min-width: 40px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // margin: 0;
  // border-radius: 50%;
  // outline: none;

  @media screen and (max-width:767px) {
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
}

// icon-menu
.menu-toggle__icon-menu {
  @media screen and (max-width:767px) {
    display: flex;
  }
}

// button-header
// .page-header__button {
//   &:hover,
//   &:focus {
//     fill: var(--accent-color);
//   }
// }

// menu-container__button
.menu-container__button {
  position: absolute;
  top: 21px;
  right: 25px;
}
