/* footer-contacts */
.address {
  margin-bottom: 20px;

  text-align: center;
}

.address__item {
  height: 21px;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.city-link {
  color: var(--secondary-text-color);
}

.mail-link,
.phone-link {
  color: var(--footer-text-color);
}
