.social-mobile {
  display: none;

  @media screen and (max-width:767px) {
    display: flex;
  }
}

.social-mobile__item + .social-mobile__item  {
  margin-left: 10px;
}

.social-mobile__link {
  @media screen and (max-width:767px) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
  }
}

.social-mobile__link-slash {
  width: 22px;
  height: 0px;

  margin-left: 10px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}